
.row-posters{

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

    
}



.row{
    margin-left: 10px;
}
body{
    background: black;
}


.row-posters::-webkit-scrollbar{
    display: none;
}
.card{
    padding: 0.3%;
    min-width: 15%;
    margin-right: 0.3%;  
    
}


.card img{
    height: 100%;
    width: 100%;
}

.card img:hover{
    transform: scale(1.08);
}

h2{
    text-align: left;
    color: white;
}

